---
import Layout404 from '../layouts/Layout404.astro';
---

<Layout404 pageTitle="Page Not Found">
  <section class="not-found">
    <h1>404 - Page Not Found</h1>
    <p>Sorry, the post you're looking for doesn't exist or may have been removed.</p>
    <a href="/" class="btn">Return to Homepage</a>
  </section>
</Layout404>
