---
import BaseLayout from '../layouts/BaseLayout.astro';
import Content from '../components/Content.astro';
import Sidebar from '../components/Sidebar.astro';
import { fetchPosts } from '../lib/api';
import type { Post } from '../types';
import { getAllAds } from '../lib/adsCache';

// Fallback
const emptyList: Post[] = [];

// Fetch posts + ads
const [posts, ads] = await Promise.all([
  fetchPosts(),
  getAllAds(),
]);

const pageTitle = 'Home';
---

<BaseLayout pageTitle={pageTitle} ads={ads}>
	<div class="grid-container">
		<Content posts={posts} />
		<Sidebar posts={posts} />
	</div>
</BaseLayout>
