---
import BaseLayout from '../layouts/BaseLayout.astro';
import Content from '../components/Content.astro';
import Sidebar from '../components/Sidebar.astro';

const response = await fetch('https://admin.lifennew.com/api/posts');
const jsonData = await response.json();
console.log(jsonData); // Kiểm tra dữ liệu trả về từ API
const posts = Array.isArray(jsonData.data) ? jsonData.data : [];
const pageTitle = "Home";
// const allPosts = await Astro.glob('./posts/*.md');
---

<BaseLayout pageTitle={pageTitle}>
	<div class="grid-container">
		<Content posts={posts} />
		<Sidebar posts={posts} />
	</div>
</BaseLayout>
