---
// import Social from "./Social.astro"
---


<footer>
  <div class="grid">
    <p class="copyright">
      © {new Date().getFullYear()} News24H. All rights reserved.
    </p>
    <ul>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
      <li>
        <a href="/privacy-policy">Privacy Policy</a>
      </li>
    </ul>
  </div>
</footer>