---
// import Social from "./Social.astro"
---


<footer>
  <div class="grid">
    <p class="copyright">
      © {new Date().getFullYear()} News24H. All rights reserved.
    </p>
    <ul>
      <li>
        <a href="">About</a>
      </li>
      <li>
        <a href="">Contact</a>
      </li>
      <li>
        <a href="">Chinh sach</a>
      </li>
    </ul>
  </div>
</footer>