---

---
<div class="grid-container">
    <section id="content">
        <div class="grid-content">
            <div class="post-img">
                <a href="/">
                    <img src="https://docs.astro.build/assets/rose.webp" alt='The Astro logo on a dark background with a pink glow.'>
                </a>
            </div>
            <div class="posts-title">
                <h3>
                    Line-height để dễ dọc, thiết lập trong khoảng 1 - 1.2
                </h3>
                <span>
                    admin, 27-11-2024, tag
                </span>
                <p class="description">
                    Kiểm tra chiều cao dòng, giãn dòng. Chiều cao dòng chữ được thiết lập bởi thuộc tính line-height.
                </p>
            </div>
        </div>
        <div class="grid-content">
            <div class="post-img">
                <a href="/">
                    <img src="https://docs.astro.build/assets/rose.webp" alt='The Astro logo on a dark background with a pink glow.'>
                </a>
            </div>
            <div class="posts-title">
                <h3>
                    Line-height để dễ dọc, thiết lập trong khoảng 1 - 1.2
                </h3>
                <span>
                    admin, 27-11-2024, tag
                </span>
                <p class="description">
                    Kiểm tra chiều cao dòng, giãn dòng. Chiều cao dòng chữ được thiết lập bởi thuộc tính line-height.
                </p>
            </div>
        </div>
        <div class="grid-content">
            <div class="post-img">
                <a href="/">
                    <img src="https://docs.astro.build/assets/rose.webp" alt='The Astro logo on a dark background with a pink glow.'>
                </a>
            </div>
            <div class="posts-title">
                <h3>
                    Line-height để dễ dọc, thiết lập trong khoảng 1 - 1.2
                </h3>
                <span>
                    admin, 27-11-2024, tag
                </span>
                <p class="description">
                    Kiểm tra chiều cao dòng, giãn dòng. Chiều cao dòng chữ được thiết lập bởi thuộc tính line-height.
                </p>
            </div>
        </div>
        <div class="grid-content">
            <div class="post-img">
                <a href="/">
                    <img src="https://docs.astro.build/assets/rose.webp" alt='The Astro logo on a dark background with a pink glow.'>
                </a>
            </div>
            <div class="posts-title">
                <h3>
                    Line-height để dễ dọc, thiết lập trong khoảng 1 - 1.2
                </h3>
                <span>
                    admin, 27-11-2024, tag
                </span>
                <p class="description">
                    Kiểm tra chiều cao dòng, giãn dòng. Chiều cao dòng chữ được thiết lập bởi thuộc tính line-height.
                </p>
            </div>
        </div>
        <div class="grid-content">
            <div class="post-img">
                <a href="/">
                    <img src="https://docs.astro.build/assets/rose.webp" alt='The Astro logo on a dark background with a pink glow.'>
                </a>
            </div>
            <div class="posts-title">
                <h3>
                    Line-height để dễ dọc, thiết lập trong khoảng 1 - 1.2
                </h3>
                <span>
                    admin, 27-11-2024, tag
                </span>
                <p class="description">
                    Kiểm tra chiều cao dòng, giãn dòng. Chiều cao dòng chữ được thiết lập bởi thuộc tính line-height.
                </p>
            </div>
        </div>
    </section>
    <section id="silebar">
        <!-- <div class="list-posts"> -->
            <h3 class="list-post">POST NEW</h3>
            <ul>
                <li>
                    <div class="list-img">
                        <a href="/">
                            <img src="https://docs.astro.build/assets/rose.webp" alt='The Astro'>
                        </a>
                        <h4 class="post-title">Sử dụng thuộc tính line-height để thiết lập chiều cao box từng dòng chữ, qua đó thiết lập</h4>
                    </div>
                </li>
                <li>
                    <div class="list-img">
                        <a href="/">
                            <img src="https://docs.astro.build/assets/rose.webp" alt='The Astro'>
                        </a>
                        <h4 class="post-title">Sử dụng thuộc tính line-height để thiết lập chiều cao box từng dòng chữ, qua đó thiết lập</h4>
                    </div>
                </li>
            </ul>
        <!-- </div> -->
    </section>
</div>